*{
    box-sizing: border-box;
}

body{
    font-family: "Proza Libre", "Open Sans", sans-serif;
    margin: auto 20%;
    display: grid;
    grid: 10% 85% 5% / auto;
    row-gap: 0.7rem;
    height: auto;
}

header section {
    display: flex;
    justify-content: space-between;
}

header nav ul{
    padding-top: 0.5rem;
    font-size: 1.05rem;
}

header nav li{
    display: inline-flex;
    padding: 0 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

header nav li a{
    text-decoration: none;
}

header nav li a:hover{
    cursor: pointer;
    color:maroon;
    font-size: 1.09rem;
}

h1{
    font-size: 2rem;
}

@media only screen and (max-width: 640px) {
    body{
        margin: 0 0.1%;
    }
    h1 {
        text-align: center;
    }
    header section{
        flex-direction: column;
    }
    header nav ul {
        padding: 0.6rem 0.1rem;
        margin-left: 0;
        display: flex;
        justify-content: space-around;
    }
    header nav li{
        letter-spacing: normal;
    }
    #aboutme-nav{
        display: none;
    }

}

h2{
    font-size: 1.4rem;
    padding: 0.3rem 0;
}

section {
    display: block;
}

.about-me-container {
    display: flex;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.about-me img{
    float: right;
    height: 15em;
    width: auto;
    border-radius: 10%;
}

.skills li {
    list-style: square;
}

.skill-type{
    padding-right: 0.4rem;
    font-style: italic;
}

.contact {
    margin: 4rem auto;
}

.contact-details{
    display: flex;
    justify-content: space-between;
}

.contact-details span {
    padding: auto;
}

footer{
    text-align: center;
    font-size: smaller;
}

@media only screen and (max-width: 640px) {
    
    main{
        margin-top: 4rem;
    }

    h2{
        text-align: center;
    }

    .intro{
        padding-right: 0;
    }
    
    #aboutme-nav, #aboutme-header, .about-me img, .contact h2{
        display: none;
    }

    .contact-details{
        flex-direction: column;
        align-content: space-around;
    }
    
    .contact-details span {
        padding: 0.5rem;
    }
    
}