*{
    box-sizing: border-box;
}

body{
    font-family: "Proza Libre", "Open Sans", sans-serif;
    margin: auto 20%;
    display: grid;
    grid: 10% 85% 5% / auto;
    height: auto;
}

section {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0;
}

header nav {
    padding: 0.2rem 0.5rem;
    font-size: 1.05rem;
}

header nav li{
    display: inline-flex;
    padding: 0 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

header nav li a{
    text-decoration: none;

}

header nav li a:hover{
    cursor: pointer;
    color:maroon;
    font-size: 1.09rem;
}

h2{
    font-size: 1.4rem;
    padding: 0.3rem 0;
}

.about-me-container {
    display: flex;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.about-me img{
    float: right;
    height: 15em;
    width: auto;
    border-radius: 10%;
}

.skills li {
    list-style: square;
}

.skill-type{
    padding-right: 0.4rem;
    font-style: italic;
}

.contact {
    margin: 4rem auto;
    display: block;
}

.contact-details{
    display: flex;
    justify-content: space-between;
}

footer{
    text-align: center;
    font-size: smaller;
}